@import url('https://fonts.google.com/specimen/Inter: 300, 500, 700');

body{
    font-family: "Inter";
}


.container{
    background-image: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
}

.content{
    background-image: url(./images/pattern-quotes.svg);
    background-repeat: no-repeat;
}

.innerContent{
    color: hsl(240, 38%, 20%);
}

.profileImg{
    background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
}

.pImg{
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.prevNext {
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2),
    0px 3px 3px rgba(0, 0, 0, 0.14),
    0px 3px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.prevNext:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.prevNext:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.pname{
    font-weight: bold;
}

.ptitle{
    color: hsl(240, 18%, 77%);
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 30px;
    }

    .container{
        display: flex;
        margin: 100px 30px 30px 30px;
        background-position-y: 100%;
        padding-bottom: 6%;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    
    }
    .content{
        flex-grow: 1;
        z-index: 1;
        margin: 12% 0 0 11%;
        background-position-x: 19%;
    }

    .innerContent{
        margin-top: 15%;
        margin-left: 0px;
        margin-right: -140px;
    }
    .profileImg{
        flex-grow: 1;
        padding: 4.5% 5%;
        margin-top: 2%;
        margin-right: 4%;
        background-size: contain;
    }
    .toggleProfile{
        margin-top: -4%;
        margin-left: 12%;
    }

    .prevNext{
        height: 15px;
        margin: -5px;
        padding: 10px 15px;
    }

    .pname, .ptitle{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 1024px){
    .container{
        display: table;
        grid-template-rows: auto auto;
        background-position-y: 100%;
    }

    .content{
        background-size: 18%;
        background-position-x: 48%;
        background-position-y: 2%;
        display: table-footer-group;
    }
   
    .innerContent{
        margin: 10%;
        text-align: center;
    }
    .profileImg{
        background-size: contain;
        display: table-header-group;
    }
    
    .pImg{
        margin: 32px 0 30px 38px;
        width: 80%;
    }

    .toggleProfile{
        margin-top: -13%;
        margin-left: 45%;
    }

    .prevNext {
        padding: 8px 12px;
        margin: -2.2px;
        height: 10px;
    }

    .attribution{
        display: none;
    }

    .pname, .ptitle{
        font-size: 12px;
    }

    .ptitle::before{
        content: "\A";
        white-space: pre;
    }


}